*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body{
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #000428, #38274e, #212534 , #243b55);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2rem;
    box-sizing: border-box;
    color: #ffffff;
}

@keyframes gradient {
0% {
background-position: 0% 50%;
}
50% {
background-position: 100% 50%;
}
100% {
background-position: 0% 50%;
}
}

header{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: #000428;
}

.logo-1,.logo-2{
    display: inline-block;
    height: 1px;
    width: 50px;
    background-color: #ff8a46;
    padding: 0px 20px;
    margin: 0px 10px;
}

.Title {
    font-family: cursive;
    font-size: 20px;
    color: #ffffff;
}

.Title:hover,.Title:active{
    color: #ff8a46;
}

.discription{
    padding-top: 10px;
    font-size: 10px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 15px;
    color:white ;

}

#link_bar a { padding:15px; font-weight:bold; float:left; }
#link_bar a:link { color:white; background-color:transparent; }
#link_bar a:visited { color:white; background-color:transparent; }
#link_bar a:hover { color:grey; background-color:transparent; }
#link_bar a:active { color:white; background-color:transparent; }

.material-symbols-outlined{
    color: #ff8a46;
    font-size: 50px;
    padding: 20px;
    border-radius: 100%;
    margin-bottom: 20px;
}

.material-symbols-outlined:hover{
    color: #ffffff;
    background-color: #ff8a46;
}

.heading-underline{
    display: inline-block;
    background-color: #ff8a46;
    height: 1px;
    width: 100px;
}

.info-branch{
    height:250px ;
    width:300px ;
    padding: 20px;
    margin: 20px;
    text-align: center;
    border: #ff8a46 2px solid;
    border-radius: 6px;
}

.main-content{
    margin-top: 50px;
    display: flex;
}

h2,.discription-p{
    font-size: large;
    text-align: center;
}

.info-p{
    padding-top: 20px;
}

.event-services{
    display: flex;
    justify-content: center;
    padding: 50px;
}

.event-services-discription{
    padding: 50px 20px 0px 0px;
    text-align: end;
}

.event-services-image{
    padding: 10px;
}

.EveSerDis-heading{
    font-size: 20px;
}

.EveSerDis-heading2{
    font-size: 35px;
}

.EveSerDis-heading3{
    font-size: 20px;
    font-style: italic;
    color: gray;
}

ojk
.EveSerDis-paragraph{
    margin: 20px 0px;
}

.event-service-design{
    display: inline-block;
    height: 20px;
    width: 20px;
    border: #ff8a46 4px solid;
    border-radius: 100%;
    margin: 30px 0px;
}

.event-service-design:hover,.event-service-design:active{
    background-color: black;
}

.signature a { font-weight:bold;}
.signature a:link { color:white; background-color:transparent; }
.signature a:visited { color:white; background-color:transparent; }
.signature a:hover { color:grey; background-color:transparent; }
.signature a:active { color:white; background-color:transparent; }

.services-provided-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.services-provided-img{
    border-radius: 100%;
    padding: 20px 0px;
}

.services-provided-img:hover,.services-provided-img:active{
    opacity: 0.4;
}

.services-provided-div{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-provided-heading{
    padding: 10px 0px;
}

.past-work-img-div{
    display: flex;
}

.past-work-img{
    height:300px ;
    width:300px ;
    margin: 10px;
    margin-bottom: 50px;
}

.past-work-img:hover,.past-work-img:active{
    opacity: 0.4;
}

@media (max-width: 800px) { 
    body{
        width: 100%;
    }
    .main-content{
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .event-services{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .services-provided{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .services-provided-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .past-work{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .past-work-img-div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ABOUT-US{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .img-event{
            width: 70%;
    }
    .info-branch{
        width: 70%;
    }
    .past-work-img{
        width: 70%;
        height: 70%;
    }
    .discription-p{
        font-size: 10px;
    }
    .about-us-p{
        font-size: 12px;
    }
 }


   